// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
// @import 'variables';

// Materialize
@import '~materialize-css/sass/materialize';

// Navigation Bar
.nav-wrapper {
    margin: 0 2rem;
}

.nav-wrapper ul.left {
    position: relative;
    left: 10%;
}

// Threads page
.card .card-title.text-strong {
    font-weight: bold;
}

.card .card-title.thread-card-title {
    font-size: 1.8rem;
}

.card .card-title.reply-card-title {
    font-size: 1.2rem;
}

.card-vertical-align {
    margin-top: 160px;
}

.card-action.card-action-container {
    padding-top: 2rem;
    padding-bottom: 0;
}

.row.row-form {
    margin-bottom: 0;
}

// Landing page
#app main .landing {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

// Utilities
.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 1.7rem;
}

.pt-1 {
    padding-top: 1rem;
}

@media only screen and (min-width: 600px) {
    .card-vertical-align {
        margin-top: 200px;
    }
}

@media only screen and (min-width: 992px) {
    .card-vertical-align {
        margin-top: 129px;
    }
}